/* Poppins */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* === DESKTOP LAYOUT INHERITS FROM MOBILE AND TABLET 980PX and higher === */

body {
  background: #3f738c;
  /* hide scrollbars */
  overflow: hidden;
  /* cursor: url('../assets/images/cursor2.png', default); */
  /* position: relative; */
}

section#logo {
  position: fixed;
  top: 28px;
  left: 80px;
  z-index: 101;
  width: 60px;
}

#logo a img {
  filter: drop-shadow(0px 0px 2px #c0c0c0);
  width: 100%;
}

nav#close-button {
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  /* height: 4em; */
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  position: fixed;
  top: 30px;
  z-index: 102;
}

#close-button a:link,
#close-button a:visited,
#close-button a:active {
  padding: 0px 50px;
  text-decoration: none;
  margin-right: 50px;
  /* background blue */
  color: #3f738c;
  /* blue */
  background: #6fcce9;

  border: 3px solid #6dc8ea;
  border-radius: 50px;
}

#close-button a:hover {
  /* no background */
  background: rgba(255, 255, 255, 0);
  /* background blue */
  /* background: #3f738c; */
  border: 3px solid #6fcce9;
  border-radius: 50px;
  /* blue */
  color: #6fcce9;
}

nav.top-navigation {
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  /* background blue with 95% opacity */
  /* background: rgba(63, 115, 140, 0.95); */
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  position: fixed;
  top: 20px;
  z-index: 100;
}

.top-navigation a:link,
.top-navigation a:visited,
.top-navigation a:active {
  padding: 10px 15px;
  text-decoration: none;
  margin-right: 10px;
  /* background blue */
  color: #3f738c;
}

.top-navigation a.active {
  /* blue */
  background: #6fcce9;

  border: 3px solid #6dc8ea;
  border-radius: 50px;
  /* background blue */
  color: #3f738c;
}

.top-navigation a:hover {
  /* no background */
  background: rgba(255, 255, 255, 0);
  /* background blue */
  /* background: #3f738c; */
  border: 3px solid #6fcce9;
  border-radius: 50px;
  /* blue */
  color: #6fcce9;
}

section.article {
  display: flex;
  flex-flow: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

section.my-name {
  width: 100%;
}

.my-name h1 {
  font-family: "Poppins", Arial, sans-serif;
  /* light blue */
  color: #b1eaf4;
  text-align: center;
  font-size: 6em;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#my-description {
  font-family: "Poppins", Arial, sans-serif;
  /* light blue */
  color: #b1eaf4;
  text-align: center;
  margin-top: 10px;

  /* background: green; */
}

#my-description p {
  font-size: 1.2em;
  letter-spacing: 0.5px;
  max-width: 500px;
}

section.hover-instructions {
  font-family: "Poppins", Arial, sans-serif;
  /* light blue */
  color: #b1eaf4;
  text-align: center;
  margin-top: 20px;

  /* background: green; */
}

.hover-instructions p {
  /* font-style: italic; */
  /* text-transform: uppercase; */
  font-size: 0.8em;
  /* light yellow */
  color: #fdfeb8;
  letter-spacing: 0.5px;
  max-width: 250px;
}

#table-of-contents {
  /* dark blue with 95% opacity */
  background: rgba(41, 69, 88, 0.95);
  /* display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start; */
  height: 100vh;
  width: 0%;
  position: fixed;
  top: -20px;
  left: 0px;
  padding: 0px;
  z-index: 101;
  font-family: "Poppins", Arial, sans-serif;
  overflow: scroll;
}

/* .show-table-of-contents {
  width: 100%;
  padding: 100px;
}

.hide-table-of-contents {
  width: 0%;
  padding: 0px;
} */

#table-of-contents h1 {
  /* light blue */
  color: #b1eaf4;
  font-size: 3.5em;
  text-transform: uppercase;
  margin-bottom: 30px;
  /* width: 100%;
  text-align: center; */
}

#table-of-contents .all-groups {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* width: 100%; */
}

#table-of-contents .all-groups .group {
  display: inline-block;
  width: 45%;
  height: 100%;
  margin-right: 30px;
  margin-bottom: 50px;
}

#table-of-contents .group h2 {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}

#table-of-contents .group a:link,
#table-of-contents .group a:active {
  text-decoration: none;
  /* blue */
  color: #6fcce9;
  font-size: 1.2em;
}

#table-of-contents .group a:visited {
  text-decoration: none;
  /* slightly darker blue */
  /* color: #38a0c0; */
  /* blue */
  color: #6fcce9;
}

#table-of-contents .group a:active {
  color: white;
}

#table-of-contents #group1 a:hover {
  /* purple */
  color: #dfd2fa;
}

#table-of-contents #group2 a:hover {
  /* yellow */
  color: #fdfeb8;
}

#table-of-contents #group3 a:hover {
  /* pink */
  color: #ffcce4;
}

#table-of-contents #group4 a:hover {
  /* green */
  color: #b8fcea;
}

#table-of-contents p {
  margin-bottom: 20px;
}

/* === TABLET LAYOUT INHERITS FROM MOBILE 600PX 980PX === */
@media only screen and (max-width: 980px) {
  #table-of-contents h1 {
    font-size: 3em;
    /* margin-bottom: 20px; */
  }

  #table-of-contents .all-groups .group {
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-right: 15px;
  }

  #table-of-contents .group h2 {
    font-size: 1.15em;
    font-weight: bold;
    letter-spacing: 1px;
  }

  #table-of-contents .group a:link,
  #table-of-contents .group a:active {
    font-size: 1em;
  }
}

/* === MOBILE LAYOUT INHERITS FROM DESKTOP 0PX 600PX === */
@media only screen and (max-width: 600px) {
  section#logo {
    top: 20px;
    left: 30px;
    width: 50px;
  }

  nav#close-button {
    font-size: 2em;
    padding-right: 10px;
    top: 20px;
  }

  #close-button a:link,
  #close-button a:visited,
  #close-button a:active {
    padding: 0px 50px;
    margin-right: 15px;
    border: 3px solid #6dc8ea;
    border-radius: 50px;
  }

  #close-button a:hover {
    border: 3px solid #6fcce9;
    border-radius: 50px;
  }

  nav.top-navigation {
    font-size: 1.2em;
    height: 4em;
    padding-right: 15px;
    top: 10px;
  }

  .top-navigation a:link,
  .top-navigation a:visited,
  .top-navigation a:active {
    padding: 10px 15px;
    margin-right: 10px;
  }

  .top-navigation a.active {
    border: 3px solid #6dc8ea;
    border-radius: 50px;
  }

  .top-navigation a:hover {
    border: 3px solid #6fcce9;
    border-radius: 50px;
  }

  section.my-name {
    width: 100%;
  }

  .my-name h1 {
    font-size: 3em;
    letter-spacing: 2px;
  }

  #my-description p {
    font-size: 1em;
    letter-spacing: 0.1px;
    max-width: 300px;
  }

  section.hover-instructions {
    margin-top: 50px;
  }

  .hover-instructions p {
    font-size: 0.9em;
    letter-spacing: 0.5px;
    max-width: 250px;
  }

  #table-of-contents h1 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  #table-of-contents .all-groups .group {
    display: inline-block;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
