body {
  overflow: visible;
}

section.hero {
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.hero hgroup {
  position: fixed;
  z-index: -1;
}

.hero hgroup h1 {
  font-family: 'Poppins', Arial, sans-serif;
}

.hero hgroup p {
  font-family: 'Poppins', Arial, sans-serif;
  /* light blue */
  color: #b1eaf4;
  /* text-align: center; */
  padding: 0 40px;
  /* background: orange; */
}

.hero figure {
  position: fixed;
  z-index: -2;
}

.hero figure img {

}

section.content {
  /* light grey */
  background: #ebebeb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content p {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 80px 150px;
  font-size: 1.5em;
}

.content figure {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.content figure img {
  width: 100%;
}
