body {
  overflow: visible;
}

section.hero {
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.hero hgroup {
  position: fixed;
  z-index: -1;
}

.hero hgroup h1 {
  font-family: 'Poppins', Arial, sans-serif;
}

.hero hgroup p {
  font-family: 'Poppins', Arial, sans-serif;
  /* light blue */
  color: #b1eaf4;
  /* text-align: center; */
  padding: 0 40px;
  /* background: orange; */
}

.hero figure {
  position: fixed;
  z-index: -2;
}

.hero figure img {

}

section.content {
  /* light grey */
  background: #ebebeb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content p {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 80px 150px;
  font-size: 1.5em;
}

.content figure {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.content figure img {
  width: 100%;
}


/* Link to next page ------------------------------------ */

nav.link_to_next_page {
  background: #212226; /* raisin black */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  height: 40vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link_to_next_page a:link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.link_to_next_page a:visited {
  color: #fff;
}

.link_to_next_page a:hover {

}

.link_to_next_page a:active {
  color: #fff;
}

.text_container {
  margin-right: 70px;
}
