/* === DESKTOP LAYOUT INHERITS FROM MOBILE AND TABLET 980PX and higher === */

body {
  overflow: visible;
}

section.hero {
  height: 90vh;
  max-height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.hero hgroup {
  position: fixed;
  z-index: -1;
}

.hero hgroup h1 {
  font-family: "Poppins", Arial, sans-serif;
}

.hero hgroup p {
  font-family: "Poppins", Arial, sans-serif;
  /* light blue */
  color: #b1eaf4;
  /* text-align: center; */
  padding: 0 40px;
  /* background: orange; */
}

.hero figure {
  position: fixed;
  z-index: -2;
  max-width: 700px;
}

.hero figure img {
}

section.content {
  /* light grey */
  background: #ebebeb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.content p {
  font-family: "Poppins", Arial, sans-serif;
  margin: 80px 150px;
  font-size: 1.5em;
}

.content h2 {
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  margin: 80px 150px;
  font-size: 1.5em;
}

.content figure {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.content figure img {
  width: 100%;
}

.add-margin-below img {
  margin-bottom: 70px;
  width: 100%;
}

.content .source {
  font-size: 1em;
  text-transform: uppercase;
  padding-bottom: 80px;
  margin: 0px;
}

.content .video-container {
  width: 90%;
  overflow: hidden;
}

.content nav {
  display: flex;
  width: 100%;
  letter-spacing: 0.05em;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 10px 50px;
  height: 100px;
  /* background: blue; */
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;
}

.content nav {
  /* background: #212226; */
}

.content nav a:link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  text-decoration: none;
  font-weight: normal;
  color: black;
  border: 3px solid black;
  transition: all 0.3s;
}

.content nav a:visited {
  color: black;
  border: 3px solid black;
}

.content nav a:hover {
  font-weight: bold;
  border: 10px solid black;
}

.content nav a:active {
}

/* Link to next page ------------------------------------ */

nav.link_to_next_page {
  background: #212226; /* raisin black */
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.05em;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link_to_next_page a:link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.link_to_next_page a:visited {
  color: #fff;
}

.link_to_next_page a:hover {
}

.link_to_next_page a:active {
  color: #fff;
}

.text_container {
  margin-right: 70px;
}

/* === TABLET LAYOUT INHERITS FROM MOBILE 600PX 980PX === */
@media only screen and (max-width: 980px) {
  section.hero {
    max-height: 500px;
  }

  .content p {
    font-family: "Poppins", Arial, sans-serif;
    margin: 45px 70px;
    font-size: 1.3em;
  }

  .content figure {
    width: 100%;
    margin-bottom: 50px;
  }
}

/* === MOBILE LAYOUT INHERITS FROM DESKTOP 0PX 600PX === */
@media only screen and (max-width: 600px) {
}
