body {
  background: #6fcce9;
}

.hero hgroup {
  width: 37%;
  margin-left: 80px;
  top: 100px;
  color: white;
}

.hero hgroup h1 {
  /* text-align: left; */
  font-size: 2.7em;
  padding: 40px;
  /* background: blue; */
  /* letter-spacing: 3px; */
}

.hero figure {
  width: 90%;
  right: 50px;
  top: 170px;
}

.hero figure img {
  width: 100%;
}

.content figure {
  width: 90%;
}

.content figure img {
  margin-bottom: 50px;
}

.link_to_next_page a:hover {
  background: #3f738c;
  color: #a0e1ec;
}

/* TOP NAVIGATION NAV */

.top-navigation a:link, .top-navigation a:visited, .top-navigation a:active {
  /* no background */
  background: rgba(255,255,255,0);
  border: 3px solid #3f738c;
  border-radius: 50px;
  /* blue */
  color: #3f738c;
}

.top-navigation a.active {
  /* no background */
  background: rgba(255,255,255,0);
  border: 3px solid #3f738c;
  border-radius: 50px;
  /* blue */
  color: #3f738c;
}

.top-navigation a:hover {
  /* blue */
  background: #3f738c;
  border: 3px solid #3f738c;
  border-radius: 50px;
  color: white;
}
