body {
  background: #3f738c;
}

.hero hgroup {
  width: 37%;
  margin-left: 80px;
  top: 100px;
  color: white;
}

.hero hgroup h1 {
  /* text-align: left; */
  font-size: 2.7em;
  padding: 40px;
  /* background: blue; */
  /* letter-spacing: 3px; */
}

.hero figure {
  width: 35%;
  right: 200px;
  top: 60px;
}

.hero figure img {
  width: 100%;
}

.content figure {
  width: 90%;
}

.content figure img {
  /* box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1); */
}

.content p {
  margin-top: 50px;
}

.link_to_next_page a:hover {
  background: #bec3d3;
  color: black;
}
