body {
  background: #c3cd7e;
}

.hero hgroup {
  width: 37%;
  margin-left: 80px;
  top: 100px;
  color: white;
}

.hero hgroup h1 {
  /* text-align: left; */
  font-size: 2.7em;
  padding: 40px;
  /* background: blue; */
  /* letter-spacing: 3px; */
}

.hero figure {
  width: 60%;
  right: 50px;
  top: 0px;
}

.hero figure img {
  width: 100%;
}

.content figure {
  width: 90%;
}

.content figure img {
  margin-bottom: 70px;
}

.link_to_next_page a:hover {
  background: #e091c0;
  color: black;
}
