body {
  background: #315a69;
}

.hero hgroup {
  width: 37%;
  margin-left: 80px;
  top: 200px;
  color: white;
}

.hero hgroup h1 {
  /* text-align: left; */
  font-size: 2.7em;
  padding: 40px;
  /* background: blue; */
  /* letter-spacing: 3px; */
}

.hero figure {
  width: 30%;
  right: 220px;
  top: 40px;
}

.hero figure img {
  width: 100%;
}

.content figure {
  width: 90%;
}

.content figure img {
  margin-bottom: 50px;
}

.link_to_next_page a:hover {
  background: #c3cd7e;
  color: white;
}
